/*********font family************/
@font-face {
  font-family: Poppins-Regular;
  src: url("../../media/fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: Poppins-Bold;
  src: url("../../media/fonts/Poppins/Poppins-Bold.ttf");
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url("../../media/fonts/Poppins/Poppins-SemiBold.ttf");
}


@font-face {
  font-family: Poppins-Thin;
  src: url("../../media/fonts/Poppins/Poppins-Thin.ttf");
}
/********fin font family*********/

/*****************************************************************/
*{
  font-family: Poppins-Regular,serif;
}

/*******variables du root**********/
:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
}

/********fin variables du root*****/

/**************************************************/

/**********classes utilitaires*****/
.delete{
  color: red;
  border: 1px solid black;
  border-radius: 0.3rem;
}

.flex-column-content{
  display: flex;
  flex-direction: column;
}


li{
  list-style: none;
  padding: 0;
}

a{
  text-decoration: none;
}

/**********fin classes utilitaires***/

/******************header********/
header, .hero-zone, main{
padding: 1rem 0;
width: 100vw;

}
header{
  position: sticky;
   top:0; left:0; right:0;
   z-index: 1000;
   background-color: white;
   box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

.products_home_block{
  width: 90vw;
  margin: 0 auto;
}

.header_container, main{
  max-width: 80vw;
  margin: 0 auto;
}
.header-navigation nav ul{
display: flex;
flex-direction: row;
gap: 2.5rem;
font-size: 1.5rem;
opacity: 0.7;
font-family: Poppins-Regular,serif;
}
.header-navigation nav ul li a {
  color:black;
}
.header-top-navigation{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: center; */
  margin: 0 auto;
  font-size: 1.2rem;
}

.parameters{
  position: absolute;
  z-index: 1000;
  text-align: center;
  top: 5rem;
  bottom: -10rem;
}
.user_picture_header_nav{
  border-radius: 50%;
  border: 2px solid black;
}

.panner_block_and_register{
  display: flex;
  justify-content: center;
  /* align-items: center; */
  gap: 2rem;
}

.paner_icon{
  position: relative;
}

.user_icon{
  position: relative;
  /* border: 2px solid black;
  border-radius: 50%; */
}
.panner_count_value{
  position: absolute;
  top: 0;
  right: 0;
  width: 15px;
  height: 14px;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  color: white;
  padding: 0.5rem;
  background-color: var(--red);
  border-radius: 50%;
}

.connect_header_verify{
  /* position: absolute; */
  z-index: 1000;
}
.a{
  display: flex;
  flex-direction: column;
}
.connect_user_check{
  position: absolute;
  top: -10px;
  right: -10px;
  font-size: 1.5rem;
  text-align: center;
  color: white;
  padding: 0.5rem;
  border-radius: 50%;
}

/* .panner_block_and_register svg{
  border: 2px solid var(--red);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-radius: 30px;
} */
.panner_block_and_register svg{
  padding: 0.3rem;
  border-radius: 1rem;
}
.hero-zone{
  display: flex;
  width: 80vw;
  height: 80vh;
  margin: 0 auto;
  background-position-x: right;
  justify-content: space-between;
  align-items: center;
  background-image: url("/media/images/multimeter1.webp");
  background-repeat: no-repeat;
  background-size: contain;
}

.slog span{
  font-size: 0.6rem;
  letter-spacing: 0.5rem;
}
.shopname_block1{
  color: var(--orange);
  
}
.hero-header-content-block1{
  color: var(--orange);
}
.hero-header-content-block2{
  color: var(--red);
}
.hero-header-content h1{
  font-size: 4rem;
  font-family: Poppins-SemiBold,serif;
}

.hero-header-content p{
  font-size: 2rem;
  line-height: 3rem;
  text-align: left;
  font-weight: 800;
   font-family: Poppins-Thin,serif;
}

.hero-header-content {
  display: flex;
  flex-direction: column;
}

.para_hero{
  width: 550px;
}
.link_header_hero a{
  text-decoration: none;
  color: white;
  margin-top: 1rem;
  padding: 1.5rem;
  border-radius: 30px;
  font-size: 1.5rem;
  font-weight: bold;
  width: fit-content;
  background-color: var(--orange);
  font-family: Poppins-Regular,serif;
}

.hero-content-block1{
  color: var(--orange);
}

.hero-content-block2{
  color: var(--red);
}

.hero_content_block_left{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


.hero-content{
  font-size: 2rem;
}

.shopname_block2{
  color: var(--red);
}
.shopname{
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
  font-family: Poppins-Bold,serif;
}

.shopname_zone{
  text-align: center;
 
}


.header-hero-zone{
  width: 50%;
}
/***********fin du header*******/

/***************main***************/
.Category-home-category .Category-box-container .box img{
  width: 100%;
  margin-bottom: 1rem;
}
.Category-title{
  text-align: center;
  margin: 2rem;
  text-transform: uppercase;
  color:var(--black);
  font-size: 3.5rem;
}
.shopp-title{
  text-align: center;
  margin: 6rem;
  text-transform: uppercase;
  color:var(--black);
  font-size: 3.5rem;
}

.Category-home-category .Category-box-container .box{
  padding:2rem;
  text-align: center;
  border:.2rem solid rgb(31, 30, 30);;
  background-color: white;
  box-shadow:0 .5rem .5rem rgba(46, 45, 45, 0.7);
  border-radius: .7rem;
}

.Category-home-category .Category-box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, 27rem);
  gap:2.5rem;
  justify-content: center;
  align-items: flex-start;
}

.Category-home-category .Category-box-container .box h3{
  text-transform: uppercase;
  color:black;
  font-size: 2rem;
}

.Category-home-category .Category-box-container .box p{
  line-height: 2;
  font-size: 1.5rem;
  color:rgb(59, 58, 58);
  padding:.5rem 0;
}

/* .btn{
  display: block;
  width: 100%;
  margin-top: 1rem;
  border-radius: .5rem;
  color:var(--white);
  font-size: 2rem;
  padding:1.3rem 3rem;
  text-transform: capitalize;
  cursor: pointer;
  text-align: center;
} */
/* .btn{
  font-size: 1.2rem;
  text-align: center;
  border-radius: .5rem;
  padding:1.3rem 1rem;
  margin: 0.5rem;
  background-color: var(--orange);
  color: white;
} */
.Category-home-category{
  padding-bottom: 0;
}
.content_before_specification_redirect{
  text-align: center;
}

.content_before_specification_redirect h2{
  font-family: Poppins-Bold,serif;
  font-size: 3rem;
  margin-bottom: 1.5rem;
  line-height: 4rem;
  color: var(--orange);
}

.content_before_specification_redirect p{
  font-family: Poppins-Thin,serif;
  font-size: 1.5rem;
  word-spacing: 0.3rem;
  font-weight: bold;

}

/********products page******/
.product-view{
  margin-top: 3rem;
}

.category-title{
  font-size: 3rem;
  font-family:Poppins-SemiBold, Serif;
}
.aside-header{
  display: flex;

  align-items: center;
}
.aside-header-container{
  font-family: Poppins-Regular,serif;
  font-size: 1.5rem;
}

.product-view-header-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.aside-header-container nav ul{
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}


/**********counter up animation ****/



.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin: 5rem;
}
.container_counter_up {
  width: 40vmin;
  height: 40vmin;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1em 0;
  position: relative;
  font-size: 18px;
  border-radius: 0.5em;
  /* background-color:#383838; */
  border-bottom: 10px solid #e91e63;
}

.svg_counter_bloc{
  color: var(--orange);
  font-size: 2.5em;
  text-align: center;

}

span.num {
  color: #fff;
  display: grid;
  place-items: center;
  font-weight: 600;
  font-size: 3em;
}

span.text {
  color: #e0e0e0;
  font-size: 1.1em;
  text-align: center;
  pad: 0.7em 0;
  font-weight: 400;
  line-height: 0;
}

.title_performancy{
  font-family: Poppins-Bold,serif;
  font-size: 3rem;
  margin-bottom: 1.5rem;
  line-height: 4rem;
  color: var(--orange);
  text-align: center;
}
@media screen and (max-width:1024px) {
  .wrapper {
    width: 85vw;
  }
  .container {
    height: 26vmin;
    width: 26vmin;
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  .wrapper{
    width: 90vw;
    flex-wrap: wrap;
    gap: 30px;
  }

  .container {
    width: calc(50% -40px);
    height: 30vmin;
    font-size: 13px;
  }
}
@media screen and (max-width: 480px) {
  .wrapper{
    gap: 15px;
  }

  .container {
    width: 100%;
    height: 25vmin;
    font-size: 8px;
  }
}

/*********end counter up animation******/

/***********producs page******/



/*************************************/


/****************form**************/

body.register_form {

  background: #f9faff;
  color: #3a3c47;
  
}

.shop-name-header-form{
  padding: 1rem;
}

.main_register_form h1 {
  text-align: center;
}

.form {
  background: #fff;
  max-width: 400px;
  width: 90%;
  padding: 2px 24px;
  border: 1px solid #e1e2f0;
  border-radius: 20px;
  box-shadow: 0 0 25px 0 rgba(42, 45, 48, 0.12);
  transition: all 0.3s ease;
  position: absolute;
  top: 54%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.rows {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 20px;
  position: relative;
}
.Signup {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 10px;
}

.rows label {
  font-size: 13px;
  color: #8086a9;
}

.rows input {
  flex: 1;
  padding: 13px;
  border: 1px solid #d6d8e6;
  border-radius: 4px;
  font-size: 16px;
  transition: all 0.2s ease-out;
}

.row input:focus {
  outline: none;
  box-shadow: inset 2px 2px 5px 0 rgba(42, 45, 48, 0.12);
}

.row input::placeholder {
  color: #C8CDDF;
}

input[type=submit]{
  padding: 11px;
  font-size: 125%;
  margin-bottom: 18px;
}
.button {
  width: 100%;
  padding: 20px;
  font-size: 150%;
  background: var(--orange); 
  color: #fff;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  margin-top: 15px;
  transition: background 0.2s ease-out;
} 

.button:hover {
  background: var(--red);
  font-weight: bold;
}

p{
  font-size: 100%;
  color: black;
  font-weight: bold;
}

.sign{
  color: #1fb5a4;
  font-weight: bold;
}
.sign:hover{
  color:hotpink;

}

@media(max-width: 458px) {
  
  body {
    background: #f9faff;
  color: #3a3c47;
  
  }
  
  form {
     background: #fff;
  width: 500px;
  padding: 8px 24px;
  border: 1px solid #e1e2f0;
  border-radius: 20px;
  box-shadow: 0 0 25px 0 rgba(42, 45, 48, 0.12);
  transition: all 0.3s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-family: Poppins-Regular;
  }

}

/**********end form****************/

/***************footer*********/
.footer_home{
line-height: 1.5;
font-family: 'Poppins-Regular', sans-serif;
}
.footer_home *{
margin:0;
padding:0;
box-sizing: border-box;
}
.container{
max-width: 1400px;
margin:auto;
}
.row{
display: flex;
flex-wrap: nowrap;

}
ul{
list-style: none;
}
.footer_home{
background-color: #24262b;
  padding: 20px 0;
}
.footer-col{
 width: 25%;
 padding: 0 15px;
}
.footer-col h4{
font-size: 18px;
color: #ffffff;
text-transform: capitalize;
margin-bottom: 35px;
font-weight: 500;
position: relative;
}
.footer-col h4::before{
content: '';
position: absolute;
left:0;
bottom: -10px;
background-color: #e91e63;
height: 2px;
box-sizing: border-box;
width: 50px;
}
.footer-col ul li:not(:last-child){
margin-bottom: 10px;
}
.footer-col ul li a{
font-size: 16px;
text-transform: capitalize;
color: #ffffff;
text-decoration: none;
font-weight: 300;
color: #bbbbbb;
display: block;
transition: all 0.3s ease;
}
.footer-col ul li a:hover{
color: #ffffff;
padding-left: 8px;
}
.footer-col .social-links a{
display: inline-block;
height: 40px;
width: 40px;
/* background-color: rgba(255,255,255,0.2); */
margin:0 10px 10px 0;
text-align: center;
line-height: 40px;
border-radius: 50%;
color: #ffffff;
transition: all 0.5s ease;
}

.footer-col .social-links a i{
position: relative;
top: 30%;
font-size: 1.7rem;
}
.footer-col .social-links a:hover{
color: #24262b;
background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
.footer-col{
  width: 50%;
  margin-bottom: 30px;
}
}
@media(max-width: 574px){
.footer-col{
  width: 100%;
}
}

/*******form validation******/


.message-alerte {
margin: 5px 23px;
color: crimson;
display: none;
font-size: 1.2rem;
}
.form-groupe{
display: flex;
flex-direction: column;
margin-top: 10px;
gap: 5px;
position: relative;
}


.ligne {
width: 100%;
display: flex;
justify-content: flex-start;
align-items: center;
margin: 0 auto;
}
.l1, .l2, .l3 {
width: 33%;
height: 5px;
margin: 2px 0px 8px;
position: relative;
display: none;
}
.l1 {
background: var(--red);

}
.l2 {
background: var(--orange);
}
.l3 {
background: var(--green);
}
.ligne span {
position: absolute;
left: 50%;
transform: translateX(-50%);
top: 10px;
}

/* @media screen and (max-width: 770px) {
.container{
    flex-direction: column;
    width: 360px;
    margin: 40px 60px;
    height: auto;

}
.container-photo, .container-login{
    width: 100%;
}
.box-login, .box-photo{
    border-radius: 0;
    width: 100%;
}
.box-photo img{
    width: 300px;

}    
.container-photo{
    margin-top: 40px;
}
.container-login{
    margin-bottom: 40px;
}
}

@media screen and (max-width: 395px){
/* .container{
    width: 300px;
} */
/* .box-photo img{
    width: 230px;
} */



/******end form validation***/


/****ajax check form validation***/

.resultt{
  font-size: 1.3rem;
  font-weight: 800;
  color: var(--red);
  display: none;
  font-family: Poppins-Regular,serif;
  }
.result{
  display: flex;
}

.res{
  float: right;
}

/*********connexion style*************/

.icone-verif {
  width: 22px;
  position: absolute;
  right: 27px;
  top: 13px;
  display: none;
  }
  
  .icone-verify {
    width: 22px;
  
    }

  .icone-verify-connexion{
    width: 22px;
  }

  .icone-verify-admin{
    width: 22px;
  }

.resultt_connexion{
  font-size: 1.3rem;
  font-weight: 800;
  color: var(--red);
  display: none;
  font-family: Poppins-Regular,serif;
}

.resultt_connexion_admin{
  font-size: 1.3rem;
  font-weight: 800;
  color: var(--red);
  display: none;
  font-family: Poppins-Regular,serif;
}

.result_connexion{
  display: flex;
}

.res_connexion{
  float: right;
}
/**********end connexion style********/

/******products_home_blocks**********/
.products_home_block{
  margin: 0 auto;
}
.products_home_views{
  display: grid;
  grid-template-columns: repeat(auto-fit, 27rem);
  gap:2rem;
  justify-content: center;
  align-items: flex-start;
}

.products_home_forms{
  padding:2rem;
  text-align: center;
  border:.2rem solid rgb(31, 30, 30);;
  background-color: white;
  box-shadow:0 .5rem .5rem rgba(46, 45, 45, 0.7);
  border-radius: 1.2rem;

}

.products_home_forms_header{
  padding:1rem;
  text-align: center;
  background-color: white;
  box-shadow:0 .5rem .5rem rgba(102, 102, 102, 0.7);
}

.products_home_forms img{
  width: 100%;
  height: 20rem;
}

.view_more{
  font-size: 1.8rem;
  text-decoration: none;
  border: 1px solid black;
  background-color: var(--red);
  color: white;
  border-radius: 10px;
  padding: .5rem;
  margin-right: 0.5rem;
  display: none;
}
.prod_img{
  position: relative;
}
.proceed-mney{
  border: 4px solid var(--red);
  border-radius: 10px;
  word-spacing: 0.2rem;
  margin: 1rem;
  color: black;
  padding: 1rem;
  width: 80%;
  height: 4rem;
}
.product_name{
  font-size: 1.8rem;
  text-transform:uppercase;
  /* border-radius: 5px;
  background-color: var(--red); */
}
.product_qty{
  margin:.5rem 0;
   border-radius: .2rem;
   padding:1.2rem 1.4rem;
   font-size: 1.5rem;
   color:black;
   border:.1rem solid black;
   width: 20%;
}

.products_price{
  font-size: 2rem;
 font-weight: 800;
}
.qty_price_home{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  top: -15px;
  color: white;
  right: -10px;
  border: 2px solid var(--black);
  padding: 0.7rem;
  border-radius: 50%;
  background-color: var(--red);
}
/******products_home_blocks**********/

/******products page filter nav bar ***/

.products_filter{
  /* border-bottom: 4px solid var(--orange); */
  width: 90vw;
  margin: 1.5rem auto;
  color: black;
}

.products_filter nav ul{
  list-style: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  font-size: 1.5rem;

}

.products_filter nav ul li{
 
  border: 3px solid var(--red);
  border-radius: 15px;
  padding: 1rem;
}

.user_connect{
  display: flex;
  flex-direction: column;
  
}
.user_connect_container{
  display: flex;
  gap: 0.3rem;
  justify-content: center;
  align-items: center;
}
.name_user{
  font-weight: bold;
  font-size: 1.5rem;
}

.hi_user{
  font-size: 2rem;
}
/******products page filter nav bar ***/
/***temoignage*******/
.titre-texte{
  font-size: 2.2em;
  font-weight: 300px;
  text-transform: capitalize;
}

.titre-texte span{
  color: #fb911f;
  font-size: 1.5em;
  font-weight: 400px;
}
.temoignage{
  font-family:Poppins-Regular;
  font-size: 1.3rem;
  line-height: 1.9rem;
  font-weight: 400px;
}

.temoignage .contenu{
  display: flex;
  margin-top: 40px;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.temoignage .contenu .box{
  width: 340px;
  height: 380px;
  margin-left: 60px;
  margin-right: 60px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;

}

.temoignage .contenu .box .imbox{
  width: 80px;
  height: 80px;
  border-radius: 50px;
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
}

.temoignage .contenu .box .imbox img{
  position: relative;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  object-fit: cover;
  justify-content: center;
  align-items: center;
}

.temoignage .contenu .box .text{
  text-align: center;
  color: #666;
  font-style: italic;
}

.temoignage .contenu .box .text h3{
  color: #fb911f;
  margin-top: 20px;
  font-size: 1em;
  font-weight: 600;
}

.temoignage .contenu .box .text p{
  text-align: center;
  color: rgb(0, 0, 0);
  font-style: italic;
}

/* css page de contact**/
.contact{
  background-size: cover;
  width: 100%;
}

.contactform{
  padding: 75px 50px;
  background: #fff;
  box-shadow: 0px -1px 9px 4px rgb(255 255 255 / 80%);
  max-width: 500px;
  margin-top: 50px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact .titre-text span{
  color: var(--orange);
  font-size: 2em;
}

#color{
  /* color: rgb(255, 255, 255); */
  font-size: 3em;
  margin-bottom: 20px;
  text-align: center;

}

.contactform .inputboite{
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.contactform h3{
  color: #000000;
  margin-bottom: 7px;
}

input.inputboite,textarea.inputboite{
  
  border: 1px solid rgb(0, 0, 0);
  padding: 10px;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 300;
  resize: none;/*La propriété resize permet de contrôler le caractère redimensionnable d'un élément et notamment la direction dans laquelle celui-ci peut être redimensionné.*/
}

input[type="submit"].inputboite{
  font-size: 1em;
  font-weight: 700;
  color: #ffff;
  background: #fb911f;
  display: flex;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: none;/* remarque par defaut il ya une bordure*/
  transition: 0.5s;
  width: 150px;
  align-items: center;
  justify-content: center;
  margin: auto;

}
input[type="submit"].inputboite:hover{
  letter-spacing: 5px; }

/*fin css page de contact*/

.p_quantity{
  width: 4rem;
  height: 3rem;
}